//Sass For Menu Button And Menu Overlay

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 80px;
  top: 40px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 35px;
    height: 4px;
    margin: 0 0 8px 0; //only at bottom
    background: white;
    @include easeOut;
    // //does not hover all elements
    // &:hover {
    //   background: $secondary-color;
    //   @include easeOut();
    // }
  }

  // Menu lines rotate into X
  &.close {
    transform: rotate(90deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//Menu Overlay
// .menu {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   visibility: hidden;

//   &.show {
//     visibility: visible;
//   }
// }
