//responsive design import partials

@include mediaSmall {
  body {
    h1 {
      justify-content: center;
    }
    .nav-link {
      font-size: 75%;
    }

    .nav-item {
      padding: 20px 0px;
    }

    main {
      align-items: center;
      text-align: center;

      .primary-heading {
        display: flex;
        flex-wrap: column-wrap;
        line-height: 1;
        margin: 1rem;
        font-size: 290%;
      }
      .yellow-text {
        display: flex;
        flex-wrap: column-wrap;
        line-height: 0;
        margin: 1rem;
      }

      .secondary-heading {
        font-size: 100%;
      }

      .icons {
        display: flex;
        justify-content: center;
        font-size: 80%;
        position: relative;
        bottom: 25%;
      }

      ul.menu-nav,
      div.menu-photo {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
          transform: translate3d(0, 0, 0);
        }
      }

      .menu-nav {
        height: 70vh;
        transform: translate3d(100%, 0, 0);
      }

      .menu-photo {
        height: 30vh;
        transform: translate3d(-100%, 0, 0);
      }

      .about-info {
        grid-template-areas:
          "bio-image"
          "bio"
          "job1"
          "job2"
          "job3";

        grid-template-columns: 1fr;
      }

      .projects {
        grid-template-columns: 1fr;
        padding-bottom: 2rem;

        .btn {
          display: block;
          padding: 0.2rem 0.1rem;
          margin-bottom: 0.3rem;
        }
      }
    }
  }

  @include mediaMedium {
    body {
      .portrait {
        position: relative;
        text-align: center;
      }

      main {
        align-items: center;
        text-align: center;

        .primary-heading {
          flex-wrap: column-wrap;
          line-height: 1;
          margin: 1rem;
        }

        .yellow-text {
          flex-wrap: column-wrap;
        }

        .icons {
          display: flex;
          justify-content: center;
        }
      }

      ul.menu-nav,
      div.menu-photo {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
          transform: translate3d(0, 0, 0);
        }
      }

      .menu-nav {
        height: 70vh;
        transform: translate3d(100%, 0, 0);
        font-size: 24px;
      }

      .menu-photo {
        height: 30vh;
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
}

@include mediaLarge {
  .projects {
    grid-template-columns: 1fr;
  }
}
