@import "config";
@import "menu";

//Styles

* {
  box-sizing: border-box; //confines to box
}

body {
  @include background;
  @include pages-image;
  background-color: $primary-color;
  background-size: cover;
  color: white;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  //& attaches class
  &.primary-heading {
    font-size: 6rem;
    padding-bottom: 0.5rem;
    font-family: $primary-font;
    color: $secondary-color;
  }

  &.secondary-heading {
    margin-bottom: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: $secondary-font;
  }
}

h1 {
  margin: 0;
  font-weight: 400;
  //& attaches class
  &.title-heading {
    font-size: 4rem;
    padding-bottom: 1.25rem;
    font-family: $primary-font;
    color: $secondary-color;
  }
}

a {
  color: white;
  text-decoration: none; //removes underlines

  &:hover {
    color: $secondary-color;
    @include easeOut(); //use @include for mixin
  }
}

header {
  position: fixed; //menu btn in header stays at top
  z-index: 2;
  width: 100%;
}

main {
  text-align: center;

  padding: 4rem;
  min-height: calc(100vh - 40px); //account for footer
  padding-bottom: 0;

  &#homepage {
    overflow: hidden; //no scrollbars on home page
    h1 {
      margin-top: 20vh;
    }
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 2rem;

      &:hover {
        color: $secondary-color;
        @include easeOut(); //use @include for mixin
      }
    }
  }
}
///about page styling
.about-info {
  display: grid;
  padding-top: 30px;
  padding-bottom: 60px;
  grid-template-areas:
    "bio-image"
    "bio"
    "education"
    "skills";
  grid-template-columns: 1fr;

  .bio-image {
    grid-area: bio-image;
    margin: auto;
    align-items: center;
    border-radius: 30%;
    border-color: $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
}

.paragraph-padding {
  padding-bottom: 40px;
}

.title-underline {
  width: 100px;
  height: 3px;
  background-color: white;
  margin: 10px auto 30px auto;
}

.content-underline {
  width: 300px;
  height: 2px;
  background-color: $secondary-color;
  margin: 0 auto 20px auto;
}

.education {
  grid-area: education;
  padding-bottom: 40px;
}

//skills icon styles

.skills {
  grid-area: skills;
  padding-bottom: 20px;

  .skills-icons {
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    i {
      font-size: 65px;
      padding: 20px;
      margin: 0 auto 50px auto;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

//////////////projects page styling

// img {
//   height: 700px;
//   width: 400px;
// }

.boxes {
  .btn-light {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 0.5rem 1rem;
    margin: 3rem 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 3.5rem;
      // border-color: $secondary-color;
    }
  }
}

//button styles in projects page

#footer {
  text-align: center;
  background: darken($primary-color, 18);
  padding: 0.5rem;
  width: 100%;
  height: 40px;
}

//@import responsive here to take effect

@import "responsive";

//Cannot import _contact.scss for unknown reason, therefore in main.scss

////////////contact page form styling/////////////////////////////

//My info section styling
#contact-heading {
  padding-bottom: 20px;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 150px;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

.wrapper {
  border: 1px solid $secondary-color;
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  height: 50%;
}

.my-info {
  background: grey;
}

.contact {
  background: $primary-color;
}

//Form styling
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-top: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid $secondary-color;
}

.contact form button {
  @include easeOut;
  background: $secondary-color;
  border: 0;
  text-transform: uppercase;
  justify-content: center;
  cursor: pointer;
}

.contact form button:hover,
.contact form button:focus {
  background: $secondary-color;
  color: #fff;
  outline: 0;
  transition: $primary-color 2s ease-out;
}

// media query for contact page only
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }
}

//import responsive partial at end for effect
@import "responsive";
